/* ================================================ */
/*                    Animations                    */
/* ================================================ */

@keyframes fadeIn
	0%
		background rgba(0,0,0,0)
	100%
		background rgba(0,0,0,.7)
		
@keyframes fadeOut 
	0%
		background rgba(0,0,0,.7)
	99%
		background rgba(0,0,0,.0)
	100%
		background rgba(0,0,0,.0)
		visibility hidden
		
@keyframes scaleUp
	0% 
		transform scale(.8) translateY(1000px)
		opacity 0
	100% 
		transform scale(1) translateY(0px)
		opacity 1

@keyframes scaleDown 
	0% 
		transform scale(1) translateY(0px)
		opacity 1
	99%
		transform scale(.8) translateY(1000px)
		opacity 0
	100%
		visibility hidden
		
//Loading 
@-webkit-keyframes uil-ripple
	0%
		width 0
		height 0
		opacity 0
		margin 0 0 0 0
 
	33%
		width 44%
		height 44%
		margin -22% 0 0 -22%
		opacity 1
 
	100%
		width 88%
		height 88%
		margin -44% 0 0 -44%
		opacity 0
 
@-webkit-keyframes uil-ripple
	0%
		width 0
		height 0
		opacity 0
		margin 0 0 0 0
 
	33%
		width 44%
		height 44%
		margin -22% 0 0 -22%
		opacity 1
 
	100%
		width 88%
		height 88%
		margin -44% 0 0 -44%
		opacity 0
 
@-moz-keyframes uil-ripple
	0%
		width 0
		height 0
		opacity 0
		margin 0 0 0 0
 
	33%
		width 44%
		height 44%
		margin -22% 0 0 -22%
		opacity 1
 
	100%
		width 88%
		height 88%
		margin -44% 0 0 -44%
		opacity 0
 
@-ms-keyframes uil-ripple
	0%
		width 0
		height 0
		opacity 0
		margin 0 0 0 0
 
	33%
		width 44%
		height 44%
		margin -22% 0 0 -22%
		opacity 1
 
	100%
		width 88%
		height 88%
		margin -44% 0 0 -44%
		opacity 0
 
@-moz-keyframes uil-ripple
	0%
		width 0
		height 0
		opacity 0
		margin 0 0 0 0
 
	33%
		width 44%
		height 44%
		margin -22% 0 0 -22%
		opacity 1
 
	100%
		width 88%
		height 88%
		margin -44% 0 0 -44%
		opacity 0
 
@-webkit-keyframes uil-ripple
	0%
		width 0
		height 0
		opacity 0
		margin 0 0 0 0
 
	33%
		width 44%
		height 44%
		margin -22% 0 0 -22%
		opacity 1
 
	100%
		width 88%
		height 88%
		margin -44% 0 0 -44%
		opacity 0
 
@-o-keyframes uil-ripple
	0%
		width 0
		height 0
		opacity 0
		margin 0 0 0 0
 
	33%
		width 44%
		height 44%
		margin -22% 0 0 -22%
		opacity 1
 
	100%
		width 88%
		height 88%
		margin -44% 0 0 -44%
		opacity 0
 
@keyframes uil-ripple
	0%
		width 0
		height 0
		opacity 0
		margin 0 0 0 0
 
	33%
		width 44%
		height 44%
		margin -22% 0 0 -22%
		opacity 1
 
	100%
		width 88%
		height 88%
		margin -44% 0 0 -44%
		opacity 0
 
.uil-ripple-css
	background none
	margin 0 auto
	width 10rem
	height 10rem
	transform scale(0.99)
	
.uil-ripple-css div
	position absolute
	top 50%
	left 50%
	margin 0
	width 0
	height 0
	opacity 0
	border-radius 50%
	border-width 6px
	border-style solid
	-ms-animation uil-ripple 2s ease-out infinite
	-moz-animation uil-ripple 2s ease-out infinite
	-webkit-animation uil-ripple 2s ease-out infinite
	-o-animation uil-ripple 2s ease-out infinite
	animation uil-ripple 2s ease-out infinite
	
.uil-ripple-css div:nth-of-type(1)
	border-color #dddddd
	
.uil-ripple-css div:nth-of-type(2)
	border-color #d33408
	-ms-animation-delay 1s
	-moz-animation-delay 1s
	-webkit-animation-delay 1s
	-o-animation-delay 1s
	animation-delay 1s