/*** Theme Colors ***/

black = #111
dark-grey = #333
grey = #777
light-grey = #ddd
light-red = #e24b21
offwhite = #e4e9f1
//Refactor code with theme-color variable 
dark-primary-color = #a62b09
light-primary-color = #e13a0c
red = #d33408
secondary-color = #00cdbc 
dark-secondary-color = #00c3b3
side-menu = #222
white = #fbfbfb
