/* ================================================ */
/* 						 Dashboard					*/
/* ================================================ */

.dashboard 
	background offwhite
	height auto
	
.dashboard-card
	background white
	border 1px solid light-grey
	margin 3% 0
	padding 2rem
	
.dashboard-container
	margin 0 auto
	width 80%
	
/*** MEDIA QUERIES ***/

@media screen and (max-width 1200px)
	.dashboard-container
		width 76%
		
@media screen and (max-width 992px)
	.dashboard-container
		width 100% - 5rem