/* ================================================ */
/*                     Forms                        */
/* ================================================ */

input 
	background transparent
	border 1px solid light-grey
	color grey
	display block
	font-size 1.5rem
	font-weight 300
	margin-bottom 2rem
	padding-left 1rem
	width 100%

input:focus 
	border 1px solid dark-grey

.dark-input 
	border 1px solid dark-grey
	
.input-file
	display none