background-gradient(startColor, midColor, endColor)
  background startColor
  background -webkit-repeating-linear-gradient(startColor, midColor 75%, endColor 100%)
  background -o-repeating-linear-gradient(startColor, midColor 75%, endColor 100%)
  background -moz-repeating-linear-gradient(startColor, midColor 75%, endColor 100%)
  background repeating-linear-gradient(startColor, midColor 75%, endColor 100%)
  
 placeholder-color(color, style)
	::-webkit-input-placeholder
		color color
		font-style style
	:-moz-placeholder
		color color 
		font-style style 
	::-moz-placeholder
		color color  
		font-style style
	:-ms-input-placeholder  
		color color  
		font-style style