/* ================================================ */
/*                     Products                     */
/* ================================================ */

.brand-item
	font-size 0.85rem
	font-style italic

.category-item
	background dark-grey 
	color white !important
	flex-grow 1
	font-size 0.85rem !important
	min-width 5rem
	max-width 8rem
	padding 0.25rem 0
	text-align center 
		
.data-actions
	flex-basis 4rem
	text-align right
	.btn-action-product
		width 2.5rem
	.btn-action-product:last-child
		margin-top 0.75rem
		
.data-container
	border-bottom 1px solid light-grey
	padding 2rem 0
	select
		border 1px solid dark-grey
		left 1rem
		position relative
	select:focus
		border 1px solid dark-grey 
		box-shadow none
		outline none

.data-container:first-child
	padding 0 0 2rem 0

.data-container:last-child
	border-bottom none
	padding 2rem 0 0 0
	
.data-content
	flex-basis 100% - 15rem
	padding 0 3.5rem
	
.data-img
	flex-basis 8rem
	max-height 8rem 
	overflow hidden

.data-wrapper
	flex-basis 100%
	
.description-item
	display block
	display -webkit-box
	overflow hidden
	text-overflow ellipsis
	-webkit-box-orient vertical
	-webkit-line-clamp 2
	
.description-item, .category-item
	margin-top 0.5rem 

.item
	color dark-grey
	cursor text 
	font-size 1rem
	margin-bottom 0
		
.label-link 
	color dark-grey
	cursor pointer !important
	font-size 1rem 
	min-height 1.5rem
	margin 0.5rem 0 0.25rem 0
	padding-left 1rem
	i 
		width 0.75rem
		
.label-link:last-child
	margin-bottom 0

.product-info 
	flex-basis 15rem
	overflow scroll 
	
.product-item 
	font-size 1.1rem 
	
.product-item, .product-price-container
	font-weight 700

.product-price-container
	flex-basis 50%
	font-family 'Lato'
	margin-left auto
	span 
		color dark-grey
		font-size 0.95rem
	.product-price
		padding-left 0.15rem

.products-message
	font-size 1.5rem 
	text-align center
	span 
		display block
		margin-bottom 1rem	
// Add Product Items Form

.btn-add-product
	margin-top 0.5rem 
	
.product-item-img
	cursor pointer
	flex-basis 10rem 
	max-height 9rem
	overflow hidden
	.img-preview-container
		height 9rem
		width 9rem

.product-item-info
	flex-basis 100% - 10rem
	margin-bottom 2rem
	padding-left 2.5rem
	.category-item-container
		margin-left 1.5rem
	.product-item-container
		flex-basis 100% - 12rem
	.price-item-container
		margin-left 3rem
		flex-basis 9rem
		span 
			font-size 1rem
			position relative 
			top 0.5rem
		.price-item-input
			padding-left 0.25rem
	
.product-item-input, .product-item-input:focus
	border none 
	border-bottom 1px solid grey
	color dark-grey
	font-size 1rem
	margin-top 0.5rem
	padding 0

.product-item-input:focus
	border-bottom 1px solid dark-grey
		
.product-item-label 
	font-size 1rem 
	font-weight 700
	
.product-item-textarea
	background transparent
	border 1px solid grey
	font-size 1rem
	margin 0.5rem 0 1rem 0
	min-height 3rem
	overflow hidden
	padding 0.5rem 0.35rem
	resize none
	width 100%
	
.product-item-textarea:focus 
	border 1px solid dark-grey
	outline none
	padding 0.5rem 0.35rem

.product-top-info
	margin-bottom 1.5rem
	
.select-style
	background #fafafa url("../img/select-icon.png") no-repeat 92.5% 50%
	background-size 0.75rem auto
	border 1px solid grey
	border-radius 3px
	height 2rem
	margin-top 0.75rem
	min-width 12rem
	overflow hidden
	select
		background transparent
		background-image none
		border none
		box-shadow none
		font-size 0.9rem
		height 100%
		padding-left 0.5rem
		width 100%
		-webkit-appearance none
	select:focus
		outline none
	
@media screen and (max-width 768px)
	.btn-add-product
		height 2.5rem
		margin-top 1rem
		width 100%
		
	.item-container
		margin-left 0 !important
		width 100%
		
	.product-info-row, .product-top-info
		display block !important
		
	.product-item-img
		margin 0 auto 2rem auto
		width 10rem
		
	.product-item-info 
		padding-left 0
		width 100%

// Media Queries

@media screen and (max-width: 768px) 
	.add-product-main
		display block !important
		margin 0 auto !important
		
	.data-actions
		margin-top 2rem
		width 100%
		button 
			display block 
			width 100% !important
			
	.data-container
		display block !important
		
	.data-content
		flex-basis 100% - 8rem 
		padding 0 0 0 3.5rem
		
	.data-img 
		margin 0 auto
		max-height 8rem
		width 8rem
		
@media screen and (max-width: 600px) 

	.data-wrapper
		display block !important
		
	.data-content
		flex-basis 100%
		margin-top 2rem
		padding 0